.titleshow{
	margin-left:50px;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.linev{
	text-align: center;
	display: block;
	width: 200px;
	height: 2px;
	background: orange;
}
.releaseseviceinfo{
	width:500px;
	margin-top: 40px;
	margin-left: 50px;
}
.releaseseviceinfo th,td{
	text-align: center;
	height: 40px;
}
.releaseseviceinfo th{
	font-size: 16px;
}
.releasesevice td{
	font-size: 14px;
}

.releaseseviceinfo input{
	width: 250px;
	height: 25px;
}
.releasebtn{
	background: orange;
	border-style: none;
	cursor: pointer;
	border-radius: 5px;
	width:150px!important;
	margin-right: 20px;
}
.releasebtn:hover{
	box-shadow: 0 0 2px #000;
}
.contentsevice{
	margin: 6px 0px;
}